@charset "UTF-8";

html {
  font-size: 62.5%;
  height: 100%;
}
body {
  color: #333;
  font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic",
    "メイリオ", sans-serif;
  letter-spacing: 0.1em;
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  font-size: 1.6rem;
}
a {
  color: #333;
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
li {
  list-style: none;
}
/*
コンテンツ幅を設定するための共通クラス
*/
.container {
  min-height: 100vh;
  height: 100%; /* for IE11 */
  display: flex;
}

.nowrap {
  white-space: nowrap;
}

.footer {
  height: 200px;
  /* background: rgb(143, 143, 143); */
}



/*-------------------------------------------
Mainvisual
-------------------------------------------*/
#mainvisual {
  height: 720px;
  position: relative;
  margin-bottom: 120px;
}
/*
テキストとボタンが画像の上に表示されるように「z-index」を設定
*/
#mainvisual .text {
  position: absolute;
  top: 280px;
  left: 10%;
  z-index: 10;
}
/*
「text-shadow」で文字の輪郭に白い影をつけることで、
文字が背景画像に埋もれないようにする
*/
#mainvisual .text .title {
  font-size: 2.875rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-shadow: 0 4px 6px #fff;
}

/*
メインビジュアル
animationを使用して、画像をフェードイン、フェードアウトで切り替えを行う

※画像のフェード切り替えは、CSSアニメーション以外にも
jQueryのプラグインを使う等便利なやり方が色々ありますが、
今回は学習のためにアニメーションを使用しています。
*/
#mainvisual .fade li {
  width: 75%;
  position: absolute;
  top: 0;
  right: 0;
  /* 最初は3枚の画像を非表示にしておく */
  opacity: 0;
  /*
  アニメーションを実行
  fade：下で定義している「@keyframes fade」を実行
  15s：「@keyframes fade」の処理を15秒かけて実行
  infinite：アニメーションの処理を無限に繰り返す
  */
  animation: fade 15s infinite;
}
/*
1枚目の画像のアニメーション実行タイミングを設定
「animation-delay: 0s;」ですぐに実行
*/
#mainvisual .fade li:nth-child(1) {
  animation-delay: 0s;
}
/*
2枚目の画像のアニメーション実行タイミングを設定
「animation-delay: 5s;」で5秒後に実行
*/
#mainvisual .fade li:nth-child(2) {
  animation-delay: 5s;
}
/*
3枚目の画像のアニメーション実行タイミングを設定
「animation-delay: 10s;」で10秒後に実行
*/
#mainvisual .fade li:nth-child(3) {
  animation-delay: 10s;
}
#mainvisual .fade li img {
  width: 100%;
  height: 720px;
  object-fit: cover;
}


/*
アニメーション処理
上の「animation」で15sを指定しているので下記の処理を15秒かけて実行
0%が0秒を表し、100%が15秒後を表す。

0%の「opacity: 0;」で非表示の状態からスタートし、
15%になるまでの間に少しづつ画像を表示（フェードイン）させる。
そこから30%の時点までは画像を表示させたままの状態を維持し、
45%の時点に向けて画像を非表示（フェードアウト）する。
そこから100%まで非表示の状態を維持する。
*/
@keyframes fade {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}



.main-title {
  border: solid 1px #333;
  padding: 30px;
  margin-bottom: 50px;
}
.sub-title {
  margin-bottom: 30px;
}
.sub-title-list {
  margin-bottom: 30px;
}

/* .sub-title-img {
  width: 100vh;
  height: 100vh;
  background-image: url("/img/manga.png");
  position: relative;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 60px 80px;
  margin-bottom: 180px;
} */

.service-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 80px 7%;
}

/*-------------------------------------------
access-map
-------------------------------------------*/
#access-map {
  margin-top: 20px;
}

#access-map .item-map {
  /* グーグルマップをグレースケールにする */
  filter: grayscale(1);
  margin-bottom: 20px;
}
/* グーグルマップのサイズを設定 */
#access-map .item-map iframe {
  width: 100%;
  height: 400px;
  border: 0;
}
#access-map .item-info {
  text-align: left;
}
#access-map .item-info p {
  margin-bottom: 10px;
}

/*-------------------------------------------
フッター
-------------------------------------------*/
.footer-logo{
  height: 50px;
  margin: 20px;

}

.footer {
  font-size: 1rem;
  text-align: center;
}

/*-------------------------------------------

@media screen and (max-width: 640px) {
  /* スマホ-幅が640px以下の場合に適用するスタイル */
  .pc-br {
    display: none;
  }

@media screen and (min-width: 641px) {
  /* PC-幅が641px以上の場合に適用するスタイル */
  header#header {
    width: 100%;
    display: grid;
    grid-template: "left right" auto/23% 77%;
  }
  .left {
    grid-area: left;
  }
  .right {
    grid-area: right;
  }

  .left-in {
    text-align: center;
    margin: 0% 10%;
  }

  #header .header-title {
    /*display: flex;
     width: 252px;
     height: 140px;*/
    justify-content: space-between;
    align-items: center;
    /* margin: 24px; */
    padding: 2rem;
    margin: 3rem 0%;
    font-size: 2rem;
    border: 0.5px solid;
  }

  .nav-container {
    height: 168px;
    display: flex;
  }

  nav {
    margin: 0 3% 0 auto;
    display: flex;
  }

  .pc-br {
    display: block;
  }

  #header ul {
    align-items: flex-end;
    display: flex;
    margin-bottom: 3rem;
    /* padding: 10px 0; */
  }
  #header li {
    font-size: 1.2rem;
    /* margin-top: 70px; */
    margin-left: 2rem;
  }
  #header li a {
    color: #24292e;
  }
  #header li a:hover {
    opacity: 0.7;
  }

  .main {
    width: 54%;
    margin: 0% auto;
  }

  .service-list {
    display: flex;
  }

  ul.service-list li {
    width: 40%;

  }
}
}
}
