@charset "utf-8";
/*body.supermoon article#riyou_ryoukin,
body.supermoon article#kinkyuji_jiko,
body.supermoon article#youbou_kujou,
body.supermoon article#jikohyouka{
  padding-top: 10px;
}*/
body.supermoon {
  position: relative;
  height: auto;
}
/* 円 */
.moon_container {
  position: relative;
  height: auto;
  left: 210px;
  top: -15px;
}
div.moon {
  position: absolute;
  z-index: 0;
  width: 30%;
  height: auto;
  padding-left: 0px;
  padding-right: 0px;
}

.moon_in {
  width: 100%;
  height: 100%;
  line-height: 55%;
  background-color: #fff;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  padding-top: 100%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}
.mg_0_auto p{
  padding-top: 0.5em;
  text-align: left;
  display: inline-block;
}

/*#riyou_annai{
  margin-top: -2em;
}*/

.ratio::before {
  content: "";
  display: block;
  padding-top: 100%;
}

/* 屋号とイメージ画像のグリッドレイアウト ///*/
.header_container {
  width: 100%;
  display: grid;
  column-gap: 13%;
    grid-template:
    "title art" auto
    /52% 35%;
}
.art_moon img{
  width: 100%;
  object-fit: cover;
}
h2.title_moon{
  grid-area: title;
}
.art_moon{
  grid-area: art;
}
.siteTitle_wrap_moon {
  /* flex-basis: 65%; */
  margin-bottom: 0px;
  margin-top: 0;
}

/* 施設案内の写真グリッドレイアウト */
.shisetuphoto_grid{
  display: grid;
  column-gap: 2%;
  grid-template-columns: 1fr 1fr;
}
.shisetuphoto_grid li.la_1{
  grid-column: 1 / span 2;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
/* .shisetuphoto_grid li.la_1{
  text-align: center;
  margin: 0 auto;
} */
.shisetuphoto_grid li.la_1 p{
  text-align: left;
}
.shisetuphoto_grid p{
  margin-bottom: 25px;
}

 @media screen and (max-width: 480px) {
ul.shisetuphoto_grid{
  margin-left: 0%;
}
.shisetuphoto_grid{
  display: grid;
  grid-template-columns: 1fr;
  column-gap:0em
  }
.shisetuphoto_grid li{
  width: 100%;
  /* margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw); */
}
.shisetuphoto_grid li img{
  width: 100%;
  object-fit: cover;
}
.shisetuphoto_grid li.la_1{
  grid-column: auto;
  width: 100%;
  /* margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw); */
}
.shisetuphoto_grid li.la_1 p{
  margin-left: 1em;
  /* text-align:center; */
}
/* .shisetuphoto_grid p{
  text-align: center;
} */
  }

.main_visual_moon {
  margin: 0 0 0 auto;
}
.titleText_moon {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 300;
  margin-bottom: 20px;
}
.catch_moon_02 {
  text-align: center;
  font-size: 1.4em;
	color: #f1cd00;
  font-weight: bolder;
}

body.supermoon h2 {
  font-size: initial;
}

.transparent {
  position: relative; 
}
/* table.shorttable td.Chara_dire*/
td.adjustment_table_td{
  letter-spacing: 1em;
  text-indent: 1em;
  text-align: center;
}
article p {
  margin-bottom: 10px;
}

div.image_moon_box {
  display: flex;
  justify-content: flex-end;
}

body.supermoon article p.bunsho_moon {
  margin: 0px;
  padding-left: 2em;
  margin-bottom: 10px;
}



/* googlefont M PLUS Rounded 1c */
.sp_fontMplus {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-size: 120%;
}
body.supermoon .page_follow {
  font-family: "M PLUS Rounded 1c", sans-serif;
}

/* Noto Serif JP */
.rinen_moon {
  font-family: "Noto Serif JP", serif;
  font-weight: 700;
  font-size: 1.5em;
  color: #666;
  margin-bottom: 0.5em;
}

p.bunsho_kakidashi_moon {
  margin-bottom: 20px;
}

body.supermoon article p.bunsho_moon_mb {
  margin-bottom: 30px;
  padding-left: 1em;
}
/*施設写真のレイアウト↓//////////////////////////////↓*/
div.eyecach_img_center {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

ul.facility_photo {
  margin: 0;
  /* padding: 10px; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
ul.facility_photo li {
  width: calc(50% - 5px);
  margin-bottom: 10px;
  position: relative;
}
ul.facility_photo li div {
  height: auto;
  padding: 50% 0;
}
ul.facility_photo img {
  display: inline-block;
  height: auto;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

ul.facility_photo li div p {
  vertical-align: bottom;
}

/* 写真の注釈 */
p.photo_label{
  margin-bottom: 20px;
}
ul.facility_photo p.border_label {
  position: absolute;
  top: 280px;
  left: 0;
}
ul.facility_photo p.border_label_long {
  position: absolute;
  top: 420px;
  left: 0;
}

/* 写真の注釈↑ */

/* table.serviceTime td.mg_l_1em{
  padding-left: 1em;
} */

@media (min-width: 481px) and (max-width: 768px) {
  ul.facility_photo p.border_label {
    position: absolute;
    top: 280px;
    left: 0;
  }

  /* 写真の注釈 */
  ul.facility_photo p.border_label {
    position: absolute;
    top: 185px;
    left: 0;
  }
  ul.facility_photo p.border_label_long {
    position: absolute;
    top: 280px;
    left: 0;
  }
  /* 写真の注釈↑ */
  #riyou_annai{
    margin-top: -1.2em;
  }
}

@media screen and (max-width: 480px) {
  .header_container {
    display: block;
  }
  .siteTitle_wrap_moon {
    margin-top: 0;
  }
  .main_visual_moon {
    margin: 0 auto;
  }
  div.eyecach_img_center {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  ul.facility_photo li {
    width: calc(50% - 7.5px);
    margin-bottom: 0;
    position: relative;
  }
  ul.facility_photo {
    display: block;
  }

  ul.facility_photo li {
    width: calc(100% - 5px);
    /* margin-bottom: 10px; */
    position: relative;
  }
  ul.facility_photo li div {
    height: 0;
    padding: 50% 0;
  }
  /* 写真の注釈 */
  ul.facility_photo p.border_label {
    position: absolute;
    top: 265px;
    left: 0;
  }
  ul.facility_photo p.border_label_long {
    position: absolute;
    top: 395px;
    left: 0;
  }
  /* 写真の注釈↑ */
}

/*施設写真のレイアウト↓//////////////////////////////↑*/

/* クレヨン風アンダーライン */
.pastelLine {
  background-image: url(../img/super_moon/pastel_underline_blue04.png);
  display: inline-block;
  padding-bottom: 7px;
  background-position: left bottom;
  background-repeat: no-repeat;
  margin-bottom: 15px;
  padding-right: 1em;
  padding-top:0;
  /*	background-size: auto 100%;
*/
}

.pastelLine_purple {
  background-image: url(../img/super_moon/pastel_underline_purple.png);
  display: inline-block;
  padding-bottom: 7px;
  background-position: left bottom;
  background-repeat: no-repeat;
  margin-bottom: 15px;
  padding-right: 1em;
}

div.row-fluid div.span8 div h3.mt-0 {
  margin: 0 0 15px !important;
}
/* ☆見出し */
.blue_star {
  color: #4169e1;
}
h4.service_detail {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-size: 110%;
}
h4.service_detail span.yellow_star {
  color: #ffd900;
  font-size: 120%;
}
.purple_star {
  color: #94f;
}

/*表のレイアウト////////////////////////////////////////////////////////////*/
body.supermoon table {
  width: 100%;
  margin-bottom: 30px;
  line-height: 2em;
}
body.supermoon th {
  font-weight: normal;
  line-height: 1.8em;
}

body.supermoon ul li {
  list-style-type: none;
}
table ul li {
  line-height: 2em;
}
table th,
table td {
  border: 1px solid #000000;
}
table.center_table td {
  text-align: center;
}
body.supermoon table.staff_table{
  margin-bottom: 30px;
}
/*th上揃えの表////////////////////////////////////////////////////////////*/
body.supermoon table.table_eigyoubi {
  margin-bottom: 5px;
}
body.supermoon td.item_talltable {
  width: 25%;
  text-align: left;
  vertical-align: top;
  padding: 8px 5px 5px 9px;
  line-height: 1.8em;
}

td.item_talltable {
  height: 40px;
  border: 1px solid #000000;
  font-size: 0.9em;
}

td.matter_talltable {
  text-align: left;
  border: 1px solid #000000;
  padding-left: 1em;
  font-size: 0.9em;
  line-height: 2em;
  padding: 7px 5px 7px 7px;
}
/*th上揃えの表///////////////////////////////////////////////////////////↑*/


/*th上下中央揃えの表///////////////////////////////////////////////////////////↓*/
table.shorttable th,
table.shorttable td {
  border: 1px solid #000;
  height: 35px;
  padding-left: 8px;
  padding-right: 5px;
}

table.staff_table td{
  padding-left: 0%;
  padding-right: 0%;
}

table.shorttable th {
  width: 30%;
  text-align: left;
  vertical-align: central;
  padding: 7px 5px 5px 8px;
  text-align: left;
  font-size: 0.9em;
  line-height: 1.8em;
}


/*th上下中央揃えの表///////////////////////////////////////////////////////////↑*/
body.supermoon ul th {
  font-weight: normal;
}

body.supermoon table ul {
  margin: 0;
}

body.supermoon li {
  list-style: none;
}

/*営業日の表内レイアウト////////////↓*/
.businessTime th {
  width: 20%;
  text-align: justify;
  text-align-last: justify;
  text-justify: inter-ideograph;
  border: none;
}
.businessTime td {
  border: none;
}
.businessTime tr {
  vertical-align: top;
}
body.supermoon table.businessTime {
  margin-bottom: 0;
}
/*営業日の表内レイアウト////////////↑*/

/*サービス提供日の表内レイアウト////////////↓*/
table.serviceTime th,
table.serviceTime td {
  border: none;
}
ul.service_day_moon {
  text-indent: -3em;
  padding-left: 3em;
  line-height: 1.5em;
}

.service_table th {
  width: 48%;
}
.service_table tr {
  vertical-align: top;
}
ul.service_day_moon li {
  line-height: 20px;
}
ul.service_day_moon table.serviceTime {
  margin-bottom: 0;
}
/*「ご利用施設 2.サービスを提供する事業所」の表/////////////////////////↓*/
table.table_service_office th {
  width: 35%;
}

/*「ご利用施設 サービスを提供する事業所」の表/////////////////////////↑*/

table.hoikujo_houmon_table th {
  width: 25%;
  line-height: 1.8em;
}
table.hoikujo_houmon_table td {
  padding: 7px 5px 5px 8px;
}

table.table_purpose td {
  padding: 7px 5px 5px 8px;
}

/*「その他の料金（介護給付費対象外サービス料金）」の表/////////////////////////↑*/
table.sonota_moontable th {
  width: 25%;
  vertical-align: top;
}
table.sonota_moontable td {
  vertical-align: top;
  padding-top: 7px;
  padding-bottom: 7px;
}
table.sonota_moontable tr td:nth-of-type(2) {
  width: 34%;
  padding-right: 0;
}
table.sonota_moontable ul {
  text-indent: -4em;
  padding-left: 4em;
}

/* 表内 日用品費の表 */
table.sonota_moontable table.nichiyouhin_table_moon {
  width: 90%;
}

table.sonota_moontable table.nichiyouhin_table_moon td {
  border: 0px none;
  width: 6em;
  height: 30px;
  padding: 0;
  text-align: left;
}

/* 緊急時における対応及び事故発生時の対応////////////////////////////////// ↓*/
body.supermoon h3#緊急時における対応及び事故発生時の対応 + p {
  margin-bottom: 20px;
}

/* 要望・苦情受付/////////////////////////////////////////////////////////↓ */

table.youbou_moontable th {
  width: 33%;
  vertical-align: top;
  text-align: left;
  padding: 7px 5px 5px 8px;
}
table.youbou_moontable td {
  padding: 7px 5px 5px 8px;
}

.titleText_moon {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 300;
  margin-bottom: 20px;
  white-space: nowrap;
}
/* 自己評価結果 */


/* 左サイド無くなる タブレット表示////////////////////*/

@media (max-width: 1200px) {
.moon_container{
		display: none;
	}
}
@media (min-width: 481px) and (max-width: 1200px) {
.header_container {
  margin-top:1.8em ;
}
h2.siteTitle_wrap_moon{
  flex-basis: 50% !important;
}
.image_wrap_moon{
  flex-basis: 50%;
  margin-top: 15px;
}
.titleText_moon{
    margin-bottom: 0.4em;
    margin-top: -10px;
  }
  .catch_moon_02{
    color: #f1cd00;
    font-size: 1.3em;
    text-shadow:0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 3px #fff,0 0 3px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff;
    margin-top:1.4em;
    margin-bottom: 0.7em;
  }

  .main_visual_moon span{
    margin-left: 1em;
  }
  #riyou_annai{
    margin-top: -3em;
  }
body.supermoon h3#サービス内容{
  padding-top: 0%;
}
  /* .moon_container {
    left: 0px;
    top: 200px;
    z-index: 0;
  }
} */
ul.facility_photo img:last-child{
  height: auto;
}
}

@media (min-width: 481px) and (max-width: 768px) {
  .moon_container {
		display: none;
	}
   /* width: 500px;
    /* width: 1120px;
		position:relative ;
		height: auto; 
    left: 0px;
    top: 70px;
  }*/

  .br-phone {
    display: none;
  }

  table.serviceTime th,
  table.serviceTime td {
    display: block;
  }

  table.businessTime th,
  table.businessTime td {
    display: block;
  }

  .businessTime th {
    width: 40%;
  }

  .businessTime td {
    padding-left: 2em;
  }

  ul.service_day_moon {
    text-indent: -2em;
    padding-left: 2em;
  }

  table.sonota_moontable table.nichiyouhin_table_moon {
    width: 100%;
  }

  table.sonota_moontable table.nichiyouhin_table_moon td {
    width: 100%;
    display: block;
  }
}

/* Landscape phones and down */
@media (max-width: 481px) {
  .header_container{
    margin-top: 0.5em;
  }
  .main_visual_moon {
    margin:0;
  }
  .titleText_moon{
    margin-bottom: 20px;
  }
  h3#緊急時における対応及び事故発生時の対応 {
    line-height: 1.5em;
    padding-bottom: 1em;
    text-indent: -1em;
    padding-left: 1em;
  }
  h4.service_detail{
    font-size: 1.2em;
  }
  .sp_fontMplus{
    font-size: 1.3em;
  }
table.shorttable td.adjustment_table_td{
  /* -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-orientation: sideways; */
  text-align: center;
  font-size: 1em;
}
.catch_moon_02{
	font-size: 1.3em;
	text-shadow:0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 3px #fff,0 0 3px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff;
	margin-top:0.9em;
	margin-bottom: 1.2em;
}
#riyou_annai{
  margin-top: 0.8em;
}
.siteTitle_moon p{
	margin-top: 0.8em;
}
#main_contents p.rinen_moon {
  margin-bottom: 10px;
}
.main_visual_moon{
	width: 100vw;
	margin-right: calc(50% - 50vw);
	margin-left: calc(50% - 50vw);
}
.mg_0_auto p {
  text-align: center;
  padding-top: 1em;
}
.mg_0_auto p  span{
  margin-left: 1em;
}
h2.siteTitle_wrap_moon{
  margin-right: 0 ;
  padding-right: 0;
}
.image_wrap_moon{
	margin-bottom: 30px;
}

  body.supermoon h3#サービス内容 {
    padding-top: 10px;
  }

  table.serviceTime th,
  table.serviceTime td {
    display: block;
  }

  table.businessTime th,
  table.businessTime td {
    display: block;
  }

  .businessTime th {
    width: 40%;
  }

  ul.service_day_moon {
    text-indent: -1em;
    padding-left: 1em;
  }

  .businessTime td {
    padding-left: 1em;
  }

  /*「その他の料金（介護給付費対象外サービス料金）」の表/////////////////////////↑*/
  table.sonota_moontable tr td:nth-of-type(2) {
    width: 42%;
    padding-right: 0;
  }
  table.sonota_moontable ul {
    text-indent: -1em;
    padding-left: 1em;
  }

  table.sonota_moontable table.nichiyouhin_table_moon {
    width: 100%;
  }

  table.sonota_moontable table.nichiyouhin_table_moon td {
    width: 100%;
    display: block;
  }
  td.adjustment_table_td{
    letter-spacing: 0em;
    text-indent:0em;
    text-align: center;
    padding: 0 1em 0 1em !important;
  }
  body.supermoon{
    -ms-overflow-style: none;    /* IE, Edge 対応 */
    scrollbar-width: none;       /* Firefox 対応 */
  }
  body.supermoon::-webkit-scrollbar{
    display:none;/* Chrome, Safari 対応 */
  }
}
